<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TodoList</display-name>
  <welcome-file-list>
    <welcome-file>Signup.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <filter>
    <filter-name>SignupFilter</filter-name>
    <filter-class>com.filter.SignupFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignupFilter</filter-name>
    <url-pattern>/SignupController</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordController</display-name>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>com.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/ForgotPasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToDoController</display-name>
    <servlet-name>ToDoController</servlet-name>
    <servlet-class>com.ToDoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToDoController</servlet-name>
    <url-pattern>/ToDoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTaskController</display-name>
    <servlet-name>AddTaskController</servlet-name>
    <servlet-class>com.AddTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaskController</servlet-name>
    <url-pattern>/AddTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAllTaskController</display-name>
    <servlet-name>ListAllTaskController</servlet-name>
    <servlet-class>com.ListAllTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllTaskController</servlet-name>
    <url-pattern>/ListAllTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePasswordController</display-name>
    <servlet-name>UpdatePasswordController</servlet-name>
    <servlet-class>com.UpdatePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordController</servlet-name>
    <url-pattern>/UpdatePasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskController</display-name>
    <servlet-name>DeleteTaskController</servlet-name>
    <servlet-class>com.DeleteTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskController</servlet-name>
    <url-pattern>/DeleteTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskController</display-name>
    <servlet-name>UpdateTaskController</servlet-name>
    <servlet-class>com.UpdateTaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskController</servlet-name>
    <url-pattern>/UpdateTaskController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskFromController</display-name>
    <servlet-name>UpdateTaskFromController</servlet-name>
    <servlet-class>com.UpdateTaskFromController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskFromController</servlet-name>
    <url-pattern>/UpdateTaskFromController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskStatusController</display-name>
    <servlet-name>TaskStatusController</servlet-name>
    <servlet-class>com.TaskStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskStatusController</servlet-name>
    <url-pattern>/TaskStatusController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDisableController</display-name>
    <servlet-name>AccountDisableController</servlet-name>
    <servlet-class>com.AccountDisableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDisableController</servlet-name>
    <url-pattern>/AccountDisableController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusBarController</display-name>
    <servlet-name>StatusBarController</servlet-name>
    <servlet-class>com.StatusBarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusBarController</servlet-name>
    <url-pattern>/StatusBarController</url-pattern>
  </servlet-mapping>
</web-app>